
.yes{
    height: 200px;
}
body{
    font-size: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
}
h1{
    margin: 0;
}
ul{
    margin:0;
    padding: 0;
    list-style: none;
}
/* 숨김 콘텐츠 */
.a11y-hidden{
    background-color: red;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: polygon(0 0, 0 0, 0 0);
  }
.container{
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100vh;
    /* background-color: yellow; */
}

/* header */
.header{
    min-height: 500px;
    position: relative;
    z-index: 1;
    background: linear-gradient(360deg,rgb(248, 247, 235),rgb(207, 207, 207));
}
.header::after{
    content: '';
    z-index: -1;
    background: url(image/1.png) no-repeat center center;
    opacity:0.4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3;
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0;
}
.header-title{
    position: relative;
    top: 20px;
    font-size: 3.5rem;
    font-weight: bold;
}
.header-intro{
    position: relative;
    top: -20px;
    font-size: 1.4rem;
}
.header-link{
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 30px;
}
.header-link a{
    text-decoration: none;
    color: inherit;
    width: 55px;
    height: 55px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    transition: 400ms;
}
.header-link a:first-child{
    margin-right: 20px;
}
.header-link a:hover{
    transform: rotateY(360deg);
}
.header-link a:first-child:hover .fab{
    background-color: pink;
}
.header-link a:last-child:hover .fab{
    background-color: lightblue;
}
.header-link .fab{
    font-size: 2.0rem;
    width: inherit;
    height: inherit;
    line-height: 1.7;
    background-color: #dfdbdbfa;
}

/* nav */
.is-close-menu{
    display: none;
}
.is-open-menu {
    cursor: pointer;
    display: none;
    position: sticky;
    border: none;
    background:transparent;
    font-size: 2.0rem;
  }
  .fa-bars{
    width: 30px;
    height: 30px;
  }
/* nav */
.navigation{
    font-size: 1.6rem;
    color: gray;
    font-weight: bold;
    border-bottom: 2px solid #eee;
    position: sticky;
    transform: translateX(0);
}
.navigation.nav-scroll{
    position: sticky;  
    top: 0;
    margin: 0 auto;
    height: 70px;
    z-index: 1;
    color: white;
    background-color: dodgerblue;
}
.navigation.nav-scroll .menu li:hover,
.navigation.nav-scroll .menu li:focus{
    color: black;
}
.menu{
    display: flex;
    justify-content: space-around;
}
.menu li{
    padding: 25px 20px;
    cursor: pointer;
    outline: 0;
    transition: 300ms;
}
.menu li:hover,
.menu li:focus{
    color: dodgerblue;
}
.is-close-menu{
    display: none;
}
.is-open-menu {
    cursor: pointer;
    display: none;
    border: none;
    background:transparent;
  }
  .is-open-menu .ir {
    position: sticky;
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 10px;
    font-size: 2.0rem;
  }
/* 반응형 */
@media screen and (max-width:780px){
    .container{
        position: relative;
    }
    .header-title{
        font-size: 3.0rem;
    }
    .header-intro{
        font-size: 1.0rem;
    }
    .is-open-menu {
        user-select: none;
        display: block;
    }
    .navigation{
        background-color: rgba(3, 3, 3, 0.938);
        color: whitesmoke;
        position: fixed;
        width: 70%;
        height: 100vh;
        text-align: right;
        top: 0;
        z-index: 1;
        transition: all 0.4s cubic-bezier(0.66, -0.01, 0.3, 0.99);
        transform: translateX(-105vw);
    }
    .menu{
        flex-direction: column;
        justify-content: space-evenly;
        height: 100vh;

    }
    .menu li{
        padding: 10px 30px;
        margin: 0 10px;
        border-bottom: 1px solid rgb(37, 37, 37);
    }
    .is-close-menu{
        display: block;
        position: absolute;
        background-color: transparent;
        color: whitesmoke;
        left: 0;
        top: 0;
        font-size: 1.7rem;
        border: 0;
        width: 50px;
        height: 50px;
        cursor: pointer;
        
    }
    .is-close-menu .close{
        display: block;
    }
@media screen and (max-width:420px){
    .header-title{
        font-size: 2.0rem;
    }

}
}

