:root{
    --white-color:#fafafa;
    --black-color:#1b1b1b;
    --dark-white:#f5f5f5;
    --light-balck:#212121;
    --h1-font:30px;
    --h2-font:16px;
    --h3-font:13px;
    --h4-font:10px;
    --p-font:16px;
    --font-bold:bold;
    --font-lighter:lighter;
    --base-radius:4px;
    --font-ccc:#ccc;
}
*{
    text-decoration: none;margin: 0;padding:0;
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
}

h1{
    font-size: var(--h1-font);
    font-weight: var(--font-bold);
    margin: 10px;
    color: var(--black-color);
    
}
h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: var(--h2-font);
    margin-bottom: 10px;
    color: var(--light-balck);

    
}
h3{
    margin: 10px;
    font-size: var(--h3-font);
    font-weight:var(--font-lighter);
    color: var(--light-balck);
    font-family: 'Source Sans Pro', sans-serif;
}
h4{
    margin: 10px;
    font-size: var(--h4-font);
    font-weight:var(--font-lighter);
    color: var(--light-balck);
    font-family: 'Gothic A1', sans-serif;
    letter-spacing: 5px;   
}
a{
   
    color: var(--black-color);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: var(--font-bold);
}
p{
    
    font-size: var(--p-font);
    font-weight: var(--font-lighter);

}
button{
    outline: none;
    border: none;
    background-color: none;
}
.common{
    max-width:1200px;
    margin: auto;
}
.main__menus{
    margin: 200px 50px 50px 50px;
    position: relative;
    letter-spacing: 4px;
    display: inline-block;
    /* border: 1px solid green; */
}
.main__menus:after{
    content: '';
    margin-left: 5px;
    width: 250px;height: 1px;
    background: #ccc;
    position: absolute;
    bottom: 0;left:97%;
    
}
#main_icon{
    font-size: 25px;
    position: absolute;
    left: -20px;bottom: 1%;
    color: dodgerblue;
    
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}


/*----------------------------------------home--------------------------------------*/   
.home__box{
    height: 500px;
    /* background: linear-gradient(360deg,#e1eff7,whitesmoke); */
    background: linear-gradient(360deg,rgb(248, 247, 235),rgb(207, 207, 207));
    margin: 10px 10px 0 10px;
    border-radius: var(--base-radius);
    position: relative;
    z-index: -20;
}
.home__box img{
    height: 500px;
    opacity: 0.5;
    position: absolute;
    left:50%;transform: translateX(-50%);
}
.home__intro{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 30%;left:50%;
    transform: translateX(-50%);
    line-height: 40px;
    animation: intro_ani 2s;
}
@keyframes intro_ani{
    
    0%{
        top: 10%;
        opacity: 0;
    }
    70%{
        top: 30%;
    }
    100%{
        top: 30%;
    }
}
.home__intro h1{
    font-size: 50px;
    letter-spacing: 3px;
    margin-bottom: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
}
.intro{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-family: 'Noto Sans KR', sans-serif;
}
.intro > div{
    padding: 0 5px;
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
}
.intro .two{
    width: 100px;
    color: dodgerblue;
    font-weight: bold;
    font-size: 23px;
    position: relative;
    margin-top: -30px;
    transition: all 200ms ease-in;
    animation: ani_intro 4s infinite ;
}
@keyframes ani_intro{
    0%{
        opacity: 0;
        margin-top: -30px;
    }
    50%{
        opacity: 1;
        margin-top: 0px;
    }
    80%{
        opacity: 1;
        margin-top: 0px;
    }
    100%{
        opacity: 0;
        margin-top: -30px;
    }
}
.home__intro p{
  transform: translateY(-140%);
  letter-spacing: 3px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  position: absolute;
}
.home__icon{
    margin-top: 60px;
    display: inline-block;
    position: absolute;
    top: 70%;left: 50%;transform: translateX(-50%);
    animation: icon_ani 2s;
    transition: all 500ms;
}
@keyframes icon_ani{
    0%{
        opacity:0; 
        top: 80%;
    }
    50%{
        opacity:0; 
        top: 80%;
    }
    100%{
        opacity: 1;
        top: 70%;

    }
}
.home__icon a{
    background-color: rgb(230, 229, 229);
    border-radius: 50%;
    width: 30px;height: 30px;
    font-size: 30px;
    margin: 5px;
    padding: 8px 15px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 500ms;
}
.home__icon #homeicon{
    transition: all 500ms;
}
.home__icon a:hover #homeicon{
    transform: rotateY(360deg);
}

.home__icon a:hover:nth-child(1) {
    background-color: rgba(216, 112, 147, 0.712);
}
.home__icon a:hover:nth-child(2){
    background-color:rgba(30, 143, 255, 0.726);
}

/*----------------------------------------navi--------------------------------------*/
#navi{
    display: flex;
    margin: 0 10px;
    color:grey;
    transition: all 500ms;
}
#navi.navi--dark{
    top: 0;
    height: 70px;
    margin: 0 auto;
    position: sticky;  /*fixed대신 sticky쓰면 nav값 변경 안됨*/
    z-index: 1;
    color: white;
    background-color: dodgerblue;
}
#navi.navi--dark .gnb__menu:hover {
    color: var(--black-color);
}

#navi a{
    font-size: var(--h1-font);
    text-decoration: none;
    margin: auto 0;
}
.navi__gnb{
    width: 1200px;
    margin: 0 auto;
    padding:10px 0;
    border-bottom: 1px solid rgba(204, 204, 204, 0.515);
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
    list-style: none;
}
.gnb__menu{
    margin: 10px auto;
    padding:8px 12px ;
    font-size:25px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
    transition: all 500ms;
}
.gnb__menu:hover{
    color: dodgerblue;
}
/*----------------------------------------about--------------------------------------*/
#about{
    transition: all 2s;
}
.about__box{
    margin-top: 60px;
}
.about__me{
    position: relative;
    display: flex;
    transform: translateX(-20%);
    transition: all 2s;
    opacity: 0;
}
.about__infor{
    padding: 20px;
    position: relative;
    transform: translateX(50%);
    transition: all 2s;
    opacity: 0;
}
.about__infor.change{
    transform: translateX(0);
    opacity: 1;
}
.about__me.change{
    transform: translateX(0);
    opacity: 1;
}
.about__infor h2{
    margin-bottom: 20px;
}
.about__infor p{
    line-height: 30px;
}
.about__me img{
    width: 180px;
    height: 180px;
    border-radius: var(--base-radius);
}
.about__stack{
    margin-top: 20px ;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    transition: all 1.5s;
    transform: translateX(-20%);
    opacity: 0;
    
}
.about__stack.change{
    transform: translateX(0);
    opacity: 1;
}
#stack01{
    text-align: center;
    margin: 10px;
    padding: 45px;
    line-height: 130px;
    border-radius: var(--base-radius);
    box-shadow: 0 0 6px rgba(128, 128, 128, 0.479);
    transition: all 500ms;
}
#stack01:hover{
    transform: rotateY(360deg);
}
/*----------------------------------------skill--------------------------------------*/
#skills{
    margin-bottom: 20px;
}
.skill__box{
    margin-top: 70px;
}
.skill__info{
     position: relative;
     transform: translateX(-20%);
     transition: all 2s;
     opacity: 0;
}
.skill__title{
    margin: 20px;

}
.skill__title h2{
    text-align: center;
}
.skill__logo{
    text-align: center;
    margin: 80px 0 30px 0;
    position: relative;
    transform: translateX(-20%);
    transition: all 1.5s;
    opacity: 0;
}
.stack__box{
    display: flex;
    position: relative;
    transform: translateX(20%);
    transition: all 2s;
    opacity: 0;
}
.skill__info.change{
    transform: translateX(0);
    opacity: 1;
}
.skill__logo.change{
    transform: translateX(0);
    opacity: 1;
}
.stack__box.change{
    transform: translateX(0);
    opacity: 1;
   
}

.skill__stack{
    width: 50%;
    margin:10px;
    padding: 40px 0;
    position: relative;
    border-radius: var(--base-radius);
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.479);
}

.etc{
    top: 43%;left: 50%;transform: translateX(-50%);
    position: absolute;
    display: inline-block;
    font-size: var(--h3-font);
    font-weight: bold;
    letter-spacing: 3px;

}
.etc:before{
    content: '-----------';
    top: 50%;left: -90px;transform: translateY(-50%);
    position: absolute;
}
.etc:after{
    content: '-----------';
    top: 50%;right: -90px;transform: translateY(-50%);
    position: absolute;
}
.stack__name{
    margin: 20px 0 5px 0;
    display: flex;
    justify-content: space-around;
    letter-spacing: 2px;
}
.stack__bar{
    margin: 0 auto;
    width: 60%;
    height: 6px;
    border: 1px solid var(--font-ccc);
    border-radius: var(--base-radius);
}
.stack__fullbar{
    width: 90%;
    height: 6px;
    border-radius: var(--base-radius);
    background-color: dodgerblue;
}
.stack__description{
    text-align: left;
    margin: 20px auto;
    width:60%;
    font-size: 14px;
    line-height: 30px;
}
/*----------------------------------------project--------------------------------------*/
.project__show{
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    opacity: 0;
    position: relative;
    transform: translateX(-50%);
    transition: all 2s;
}
.project__show.change{
    opacity: 1;
    transform: translateX(0);
}
.project__title{
    margin:20px;
    border-radius: var(--base-radius);
    position: relative;
    box-shadow: 0px 0px 2px grey;
}

.project__info{
   width: 100%;
   margin: auto;
}
.project img{
    width: 250px;height: 200px;
    border: none;
    border-top-left-radius: var(--base-radius);
    border-top-right-radius: var(--base-radius);
}
.project__description{
   border-top: none;
   text-align: center;
   height: 100px;
   line-height: 40px;
   position: relative;
   bottom: 14px;
   margin-bottom: -15px;
}
.project__description h3{
    margin-top: 10px;
    font-size: var(--h2-font);
    
}
.project__description span{
    font-size: 14px;
}
.project__description02{
    position: absolute;
    top: 0;left: 0;
    border-radius: var(--base-radius);
    color:var(--white-color);
    background: dodgerblue;
    text-align: center;
    opacity: 0;
    transition: all 600ms;
}
.project__title:hover .project__description02{
    opacity: 0.9;
    border-radius: var(--base-radius);
    transform: scale(1.1);
}
.project__description02 p{
    padding: 25px 15px;
    font-size:var(--h3-font);
    line-height: 25px;
    text-align: left;
}
.button{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    
}
.detail{
    cursor: pointer;
    border-radius: var(--base-radius);
    color: white;
    background: rgba(0,0,0,0.8);
    padding: 8px 12px;
    transition: all 500ms;
}
.detail a{
    color: white;
}
#project__git{
    position: absolute;
    right: 0;
}
.detail:hover{
    background-color: var(--white-color);
    color: var(--black-color);
}
.detail:hover a{
    color: var(--black-color);
}
.git{
    cursor: pointer; 
    border-radius: var(--base-radius);
    color: white;
    background: rgba(0,0,0,0.8);
    padding: 8px 12px;
    transition: all 500ms;
}
.git:hover{
    background-color: var(--white-color);
    color: var(--black-color);
}
.button .fab{
    cursor: pointer;
    position: absolute;
    font-size: 36px;
    color: rgba(0,0,0,0.8);
    right: 50px;
    cursor: pointer;
    transition: all 500ms;
}
.button .fab:hover{
    color:var(--white-color);
}
/* ---------------------------------education------------------------- */

.education__box{
    margin-top: 50px;
    display: flex;
    position: relative;
}
.education__line{
    width: 20%;

}

.education__line .lines{
    margin: 0px 30px 0;
    width: 2px;height: 100%;
    background-color:var(--dark-white);
    position: absolute;
    left: 15%;
}
.education__line .fas{
    color: var(--dark-white);
    position: absolute;
   background-color: dodgerblue;
    border-radius: 50%;
    padding: 15px;
    top:10%;left:15%; margin: 0px 5px 0;
    animation: ani_icon 2s infinite;
}
@keyframes ani_icon{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1);
    }
}
.education__line .fas:nth-child(2){
    color: var(--dark-white);
    position: absolute;
   background-color: palevioletred;
    border-radius: 50%;
    padding: 15px;
    top:60%;left:15%; margin: 0px 5px 0;
}

.education{
    width:70%;
    position: relative;
    transform: translateX(50%);
    opacity: 0;
    transition: all 2s;
}
.education.change{
    transform: translateX(0);
    opacity: 1;
}
.education__infor{
    background-color: var(--dark-white);
    margin: 30px;
    padding: 20px;
}
.education__infor p{
    line-height: 30px;

}
/* ---------------------------------study------------------------- */
#study .main__menus{
    margin-top: 70px;
    padding-top: 0;
}
.study__box{
    margin-top: 50px;
    display: flex;
    position: relative;
}
.study__line{
    width: 20%;

}

.study__line .lines{
    margin: 0px 30px 0;
    width: 2px;
    height: 100%;
    background-color:var(--dark-white);
    position: absolute;
    left: 15%;
}
.study__line .fas{
    color: var(--dark-white);
    position: absolute;
    background-color: seagreen;
    border-radius: 50%;
    padding: 15px;
    top:40%;left:15%; margin: 0px 5px 0;
    animation: ani_icon 2s infinite;
}
@keyframes ani_icon{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1);
    }
}
.study__line .fas:nth-child(2){
    color: var(--dark-white);
    position: absolute;
   background-color: salmon;
    border-radius: 50%;
    padding: 15px;
    top:85%;left:15%; margin: 0px 5px 0;
}

.study{
    width:70%;
    position: relative;
    transform: translateX(50%);
    opacity: 0;
    transition: all 2s;
}
.study.change{
    transform: translateX(0);
    opacity: 1;
}
.study__infor{
    background-color: var(--dark-white);
    margin: 30px;
    padding: 20px;
}
.study__infor div{
    display: flex;
    line-height: 30px;
}
.study__infor div span{
    margin: 20px 0px 20px 20px;
    padding: 20px;
    line-height: 28px;
    box-sizing:border-box;
    border: 1px solid rgba(128, 128, 128, 0.151);
}
.study__infor img{
    margin-top: 20px;
    height: 250px;
    width:300px;
    border-radius: var(--base-radius);
    transition: all 300ms;
}
.study__infor img:hover{
    transform: scale(1.05);
}

.information{
    height: 300px;
}

/* 반응형 */

@media screen and (max-width:1190px){
    .main__menus{
        font-size: 10px;
    }
    #main_icon{
        font-size: 15px;
        left: -10px;
    }
  
    .home__intro p{
        margin: 0;
        padding: 0 45px;
    }
    .phone{
        display: block
    }
  
    .main__menus:after{
        content: '';
        margin-left: 5px;
        width: 150px;height: 1px;
        position: absolute;
        left:97%;
    }
    .about__me{
        flex-direction: column;
    }
    .about__me img{
        margin: auto;
    }
    .stack__box{
        flex-direction: column;
        padding: 0;
    }
    .stack__name{
    justify-content: space-between;
    margin: 10px 20px;
    }
    .stack__description{
        margin: 0 auto;
        padding: 0;
        width: 90%;
    }
    .stack__bar{
        padding: 0;
        margin: 0 auto;
        width: 90%;
    }
    /* .etc{
        top: 50%;
    } */
    /* 스크롤 무반응 설정 */
    .about__me{
        transform: translateX(0);
        opacity: 1;
    }
    .about__infor{
        transform: translateX(0);
        opacity: 1;
    }
    .about__stack{
        transform: translateX(0);
        opacity: 1;
    }
    .skill__info{
        transform: translateX(0);
        opacity: 1;
    }
    .skill__logo{
        transform: translateX(0);
        opacity: 1;
    }
    .stack__box{
        transform: translateX(0);
        opacity: 1;
    }
    .project__show{
        transform: translateX(0);
        opacity: 1;
    }
    .study{
        transform: translateX(0);
        opacity: 1;
    }
    .education{
        transform: translateX(0);
        opacity: 1;
    }

}

@media screen and (max-width:1130px){
    .study{
        text-align: center;
    }
    .study__infor{
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
        
    }
    .study__infor img{
        display: inline-block;
        width: 100%;
        margin: 30px 0;
    }
    .study__infor div{
        display: block;
        width: 100%;
    }
    .study__infor div span{
        display: inline-block;
        margin:5px 0 0 0;
    }
    .study__line .fas:nth-child(2){
        top: 95%;
    }
}
@media screen and (max-width:560px){
    div{
        font-size: 1.0em;
    }
    h1,h2,h3,h4{
        font-size: 1.0em;
    }
    p{
        font-size: 0.9em;
    }
    .stack__description{
        font-size: 0.9em;
    }
    #navi{
        display: none;
    }
    .home__icon{
        left: 50%;transform: translate(-50%,30px);
    }
    .intro div{
        font-size: 14px;
    }
    .project__title{
        width: 100%;
    }
    .project__img{
        opacity: 0;
    }
    /* .project__description{
        opacity: 0;
    } */
    .project__description02 {
        margin-bottom: 20px;
        opacity: 0.9;
    }
    .education__line,
    .study__line{
        display: none;
    }
    .education,
    .study{
        width: 100%;
    }
    .study__infor{
        margin-top: 20px;
    }
    
    }
    @media screen and (max-width:330px){
        .home__box img{
            width: 300px;
        }
    }